<p id="notice"><%= notice %></p>

<p>
  <b>Firstname:</b>
  <%= @client.firstname %>
</p>

<p>
  <b>Surname:</b>
  <%= @client.surname %>
</p>

<p>
  <b>Cellnumber:</b>
  <%= @client.cellnumber %>
</p>

<p>
  <b>Note:</b>
  <%= @client.note %>
</p>


<%= link_to 'Edit', edit_client_path(@client) %> |
<%= link_to 'Back', clients_path %>
